/* BASE FILE FOR CSS RESET */
$code_font: 'monospace', monospace; /* You can change this to Courier if you wish */

@mixin text-adjustments() {
    line-height: 1.15; /* Extra space */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@mixin reset-spacing() {
    padding: 0;
    margin: 0;
}

/* Reset browser preset margins, paddings, borders, and fonts */
* {
    @include reset-spacing();
}

/* Remove default background repeats */
*,
::before,
::after {
    background-repeat: none;
    box-sizing: inherit;
}

html {
    @include text-adjustments();
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    padding: .6rem 0; /* Add more padding top and bottom */
    margin: 0 1rem; /* Horizontal margins */
}

/* Hide bullets */
ul, ol {
    list-style: none;
}

/* Remove underline */
a {
    text-decoration: none;
}

/* Less distracting way to show that link is hovered */
a:hover {
    text-decoration: underline;
}

/* Change font for code and related elements */
code,
kbd,
samp {
    font-family: $code_font;
}

/* Set sizes for media content */
img,
video,
audio,
embed,
iframe,
object {
    height: auto;
    max-width: 100%;
}

/* Remove ugly iframe border */
iframe {
    border: 0;
}

/* Remove space between table elements */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Align table heading and details to left */
th, td {
    padding: 0;
    text-align: left;
}